JWT_ISS=async.chesslablab.org
JWT_SECRET=password

UID=1000
GID=1000

# wss.php
WSS_ADDRESS=0.0.0.0
WSS_PORT=8443

WSS_ALLOWED_SCHEME=https
WSS_ALLOWED_HOST=ui.chesslablab.org

# ws.php
WS_ADDRESS=0.0.0.0
WS_PORT=8085